p {
    text-align: justify;
    text-indent: 30px;
    font-family: Serif;
    font-size: 14px;
}

body {
    background: url("background.png");
}

hr {
    color: green;
}

h1
{
    font-size: 40px;
}

h2
{
    font-size: 30px;
}

h3
{
    font-size: 25px;
}
